@using Restaurant_Project.Models.Entity
@model List<Tbl_Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Şifre Güncelleme Paneli</h2>
<br />
<div class="col-md-12">
    <div>

        <div class="content table-responsive table-full-width">
            <table class="table table-responsive-sm">
                <thead>
             
                <th>Kullanıcı Adı</th>
                <th>Düzenle</th>



                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                       
                            <td>@item.KullaniciAdi</td>

                            <td>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#@item.ID">Güncelle</button>
                                <div class="modal fade" id="@item.ID" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4>Ürün Bilgisi Düzenleme Sayfası</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" action="/Admin/AdminGetir/@item.ID">
                                                    <div class="modal-body">
                                                        <label>Kullanıcı Adı</label>
                                                        <input type="text"  class="form-control" value="@item.KullaniciAdi" disabled="true">
                                                        <br />
                                                        <label>Yeni Şifre</label>
                                                        <input type="text" name="Sifre" class="form-control">

                                                    </div>
                                                    <br />
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-success">Güncelle</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>



                        </tr>
                    }
                </tbody>


            </table>

        </div>
    </div>
</div>
<a href="/Admin/AdminEkle/" class="btn btn-primary">Yeni Admin Ekle <i class="nc-icon nc-tap-01"></i></a>
