@using Restaurant_Project.Models.Entity
@model List<Tbl_NedenSecmelisiniz>
@{
    ViewBag.Title = "nedenBiz";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>nedenBiz</h2>
@foreach (var item in Model)
{
    <div class="media" style="background-color: #f0f0f0; padding: 40px;">
        <div class="media-body">
            <h3 class="dropdown-item-title" style="color: #333;">
              @item.Baslik

            </h3>
            <p class="text-sm" style="color: #555;">@item.Aciklama</p>
            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
        </div>

    </div>
    <br />


}
