@using Restaurant_Project.Models.Entity
@model List<Tbl_Resimler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İşletme Fotoğrafları</h2>

<br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            FilterizR Gallery with Ekko Lightbox
                        </div>
                    </div>

                </div>
            </div>

        </div>

            <div class="card-body">
                <div class="row">


              
                    <div class="col-lg-3 col-md-8">
                        <div class="gallery-item">

                            <img src="#" alt="" class="img-fluid">

                        </div>
                       
                    </div>
                    

                </div>
                 
            </div>
     
        </div>
    
    </div>
    </div>
    </div><!-- /.container-fluid -->
</section>