@using Restaurant_Project.Models.Entity
@model List<Tbl_Resimler>
@{
    ViewBag.Title = "ResimlerEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>İşletme Fotoğrafları</h2>

<!DOCTYPE html>
<html>
<head>
    <link href="~/light-bootstrap-dashboard-master/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div style="float: right;">
        <a href="/Resimler/ResimEkle/" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Resim Ekle</a>
    </div>
    <div style="clear: both;"></div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal içeriği -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="position: absolute; top: 5px; right: 5px;">&times;</button>
                    <h4 class="modal-title">Fotoğraf Ekleme Sayfası</h4>
                </div>
                <form method="post" action="/Resimler/ResimlerEkle">
                    <div class="modal-body">
                        <input type="text" name="ResimAdres" class="form-control" placeholder="Fotoğraf Linkini Yapıştırın">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="gallery">
            <a>
                <img src="@item.ResimAdres" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc"><a href="/Resimler/ResimSil/@item.ID" class="btn btn-danger">Sil</a></div>
        </div>
    }

</body>
</html>
