@model Restaurant_Project.Models.Entity.Tbl_Hakkimda
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3> Hakkımızda Güncelleme Sayfası</h3>
<br />
<form method="post">
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control", style = "height:120px" })

    <br />
    <button class="btn btn-success">Güncelle</button>
</form>
