<div class="col-lg-8 mt-5 mt-lg-0">

    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="Ad" class="form-control" id="name" placeholder="Adınız Soyadınız" required>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" name="Email" id="email" placeholder="E-Mail Adresiniz" required>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" name="Telefon" id="phone" placeholder="Telefon Numaranız" required>
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div>
                    <input type="date" name="Tarih" class="form-control">
                </div>
                <br />
                
            </div>
            <div class="col-md-6">
                <div>
                    <input type="time" name="Saat" class="form-control">
                </div>
                <br />
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="number" class="form-control" name="Kisi_Sayisi" id="people" placeholder="Kişi Sayısı" required>
                </div>
                <br />
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="Aciklama" rows="5" placeholder="Mesajınız" required></textarea>
        </div>
        <br />
        <div class="text-center"><button type="submit" class="book-a-table-btn" style="background: #cda45e ">Rezervasyon Yap</button></div>
   
    </form>

</div>

