@using Restaurant_Project.Models.Entity
@model List<Tbl_Menu_Yemekler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>#</tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.ID</td>
        </tr>

    }
</table>